/**
 * @brief GlossyblueCSS3, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Pierre Van Glabeke
 *
 * @copyright GPL-2.0 https://www.gnu.org/licenses/gpl-2.0.html
 */
#prelude, #sidebar, .pagination, #comment-form, object {
	display: none;
}

p {
	margin: 0.2em 0 0.8em 0;
	line-height: 1.3em;
}

a {
	color: #00f;
	text-decoration: none;
	border-bottom: 1px solid #999;
}

.post-content a[href^="http"]:after, #comments a[href^="http"]:after,
#trackbacks a[href^="http"]:after {
	content: " ("attr(href)") ";
	color: #333;
}